<html>
<style>
    .wrap {
        display: flex;
        width: 100% ;
        justify-content: flex-start;
    }
    .cell {
        display: flex-box;
        align-items: center;
    }
    .description {
        width: 100px;
    }
    .description ul {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15px;
        padding-left: 0px;
        list-style: none;
    }

</style>
<div class="wrap">
    {% for position in positions %}
        <div class = "cell description" style = "border : solid 1px black">
            <ul style = "border-bottom : solid 1px black; padding-bottom: 15px;"><li>{{ position }}</li></ul>
            {% for info in infos %}
                {% if info.player.position == position %}
                    {% if info.stat %}
                        <ul><li><a href="{% url 'stat' pk=info.player.pk %}">{{ info.player.name }}</a></li></ul>
                    {% else %}
                        <ul><li>{{ info.player.name }}</li></ul>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
</html>